    <!-- 全局js -->
    <script src="${staticResourceUrl}/js/jquery.min.js?v=2.1.4&n=${jsBuildNo}"></script>
    <script src="${staticResourceUrl}/js/bootstrap.min.js?v=3.3.6&n=${jsBuildNo}"></script>
    <script src="${staticResourceUrl}/js/plugins/metisMenu/jquery.metisMenu.js?n=${jsBuildNo}"></script>
    <script src="${staticResourceUrl}/js/plugins/slimscroll/jquery.slimscroll.min.js?n=${jsBuildNo}"></script>

    <!-- 自定义js -->
    <script src="${staticResourceUrl}/js/hplus.js?v=4.1.0&n=${jsBuildNo}"></script>
    <script type="text/javascript" src="${staticResourceUrl}/js/contabs.js?n=${jsBuildNo}"></script>

    <!-- 第三方插件 -->
    <script src="${staticResourceUrl}/js/plugins/layer/layer.min.js?n=${jsBuildNo}"></script>
    <script src="${staticResourceUrl}/js/plugins/pace/pace.min.js?n=${jsBuildNo}"></script>

    <script src="${staticResourceUrl}/js/plugins/validate/jquery.validate.min.js?n=${jsBuildNo}"></script>
    <script src="${staticResourceUrl}/js/plugins/validate/additional-methods.min.js?n=${jsBuildNo}"></script>
    <script src="${staticResourceUrl}/js/plugins/validate/messages_zh.min.js?n=${jsBuildNo}"></script>

    <script src="${staticResourceUrl}/js/custom.js?n=${jsBuildNo}"></script>
</body>
</html>