<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
<![endif]-->
#parse("/config/config.vm")
<link href="${ctxStaticURL}/img/favicon.ico?n=${jsBuildNo}" rel="shortcut icon">
<link href="${ctxStaticURL}/css/bootstrap.min.css?v=3.3.6&n=${jsBuildNo}" rel="stylesheet">
<link href="${ctxStaticURL}/css/font-awesome.min.css?v=4.4.0&n=${jsBuildNo}" rel="stylesheet">
<link href="${ctxStaticURL}/css/animate.css?n=${jsBuildNo}" rel="stylesheet">
<link href="${ctxStaticURL}/css/style.css?v=4.1.0&n=${jsBuildNo}" rel="stylesheet">

<link href="${ctxStaticURL}/css/custom.css?n=${jsBuildNo}" rel="stylesheet">
#parse("/config/config-js.vm")